#!/bin/bash -x

#export DEBIAN_FRONTEND=noninteractive
#curl -sL https://releases.rancher.com/install-docker/${docker_version}.sh | sh
#sudo usermod -aG docker ${username}

#amazon-linux-extras install docker -y
#sudo yum -y install docker
#sudo gpasswd -a ec2-user docker
#sudo service docker start